
.color{
    background-color: #909090;
    background-color: #474554;
    background-color: #ACA9BB;
    background-color: #74978C;
    background-color: #43645A;
    background-color: #FAF7FF;

    background-color: #909090;
    background-color: #474554;
    background-color: #43645A;

    background-color: #909090;
    background-color: #A18D77;
    background-color: #77959A;

    background-color: #909090;
    background-color: #474554;
    background-color: #ACA7CB;

    background-color: #909090;
    background-color: #A08C82;
    background-color: #7D958F;

    background-color: #909090;
    background-color: #9F89A5;
    background-color: #B28582;

}
