{% extends "manager_app/tables.html" %}
{% block title %}Admins{% endblock %}
{% block table %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Унікальне ім'я в системі</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th class="th-row-email">Email</th>
                <th>Номер телефону</th>
                <th>Статус</th>
                <th>Управління</th>
            </tr>
        </thead>
        <tbody>
  {% for item in data %}
            <tr>
                <td>{{ item.id_admins }}</td>
                <td>{{ item.a_username }}</td>
                <td>{{ item.a_name }}</td>
                <td>{{ item.a_surname }}</td>
                <td class="td-row-email">{{ item.a_email }}</td>
                <td>{{ item.a_phone }}</td>
                <td>
                    {% if item.a_status == True %}
                        <div class="access-active"><span>Active</span></div>
                    {% else %}
                        <div class="access-non-active"><span>Non active</span></div>
                    {% endif %}
                </td>
                <td class="table-controls" style="min-width: 30px">
                    <!-- <button onclick="openModalForm(event);return false;" class="btn-edit"><i class="fa-regular fa-pen-to-square"></i></button> -->
                    <button class="btn-edit"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button class="btn-delete">
                        <form action="{% url 'admins-delete' item.id_admins %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none;">
                                <i class="fa-solid fa-trash-can"></i>

                            </button>
                        </form>
                    </button>
                    <button class="btn-confirm">
                        <form action="{% url 'admins_toggle_status' item.id_admins %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none;">
                                <i class="fa-regular fa-circle-check"></i>
                            </button>
                        </form>
                    </button>
                  </td>
      
            </tr>
            {% endfor %}
      </tbody>
{% endblock %}