{% extends "manager_app/layout.html" %}
{% load static %}
 {% block wrapper %}
<div class="main-wrapper">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"
        ><i class="fa-solid fa-shoe-prints"></i>Boots</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-container" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <div class="header__btn-container " style="border: 2px solid a">
          <a href="#" class="header__btn-login-container header__btn nav-link">
            <div class=""><span>Log in</span></div>
          </a>
          <a href="#" class="header__btn-singup-container header__btn nav-link">
            <div class=""><span>Sing Up</span></div>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="get-started-container">
      <div class="get-started-text">
        <div class="get-started-text__main-text">
          <h1>
            <span class="get-started-text__main-text-first-word">
              <span>let's</span>
            </span>
            explore 
            <span class="get-started-text__main-text-first-word get-started-text__main-text-third-word">
              <span>unique</span>
            </span>
            clothes.
          </h1>
        </div>
        <p>Live for influential and innovative fashion!</p>
        <a href="#" class="get-started__btn-container">
          <div class="get-started__btn">
            <span>Shop now</span>
          </div>
        </a>
      </div>
      <div class="get-started-artwork">
        <div class="get-started-artwork__image-container">
          <img src="{% static 'manager_app/img/main-page-get-started-image.svg' %}" alt="">
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock wrapper %}
