<!-- <div id="modal" class="mw-container-item-detail">
    <div class="mw-item-detail-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="carousel-container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                {% for p in photos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ p.images.url }}" alt="" width="300px" height="300px">
                </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="mw-di-second-column-container">
            <h1>{{ item.sh_name }}</h1>
            <p>ID: {{ item.id_shoes }}</p>
            <p>Model: {{ item.sh_model }}</p>
            <p>Size: {{ item.sh_size }}</p>
            <p>Color: {{ item.sh_color }}</p>
            <p>Count: {{ item.sh_count }}</p>
            <p>Manufacturer: {{ item.sh_manufacturer }}</p>
            <p>Price: £{{ item.sh_price }}</p>
        </div>
     </div>
 </div>
  -->