{% extends "layout.html" %}
{% block content %}
    <thead>
        <tr>
            <!-- <th>№</th> -->
            <th>Назва</th>
            <th>Колір</th>
            <th>Модель</th>
            <th>Розмір</th>
            <th>Кількість</th>
            <th>Сума</th>
            <th>Статус</th>
            <th>Користувач</th>
        </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr>
            <!-- <td>{{ item.id_order }}</td> -->
            <td>{{ item.o_shoes.sh_name }}</td>
            <td>{{ item.o_shoes.sh_color }}</td>
            <td>{{ item.o_shoes.sh_model }}</td>
            <td>{{ item.o_shoes.sh_size }}</td>
            <td>{{ item.o_count }}</td>
            <td>{{ item.o_sum }}</td>
            <td>
                {% if item.o_status == 'accepted' %}
                    <div class=""><span>Прийнято</span></div>
                {% elif item.o_status == 'paid' %}
                    <div class=""><span>Оплачено</span></div>
                {% elif item.o_status == 'in_processing' %}
                    <div class=""><span>В обробці</span></div>
                {% elif item.o_status == 'shipped' %}
                    <div class=""><span>Відправлено</span></div>
                {% elif item.o_status == 'delivered' %}
                    <div class=""><span>Доставлено</span></div>
                {% else %}
                    <div class=""><span>Оплачено поставнику</span></div>
                {% endif %}
            </td>
            <td>{{ item.o_user.u_username }}</td>
        </tr>
            {% endfor %}
        </tbody>
{% endblock %}