{% extends "layout.html" %}
{% block content %}
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Колір</th>
            <th>Модель</th>
            <th>Розмір</th>
            <th>Кількість</th>
            <th>Час бронювання</th>
            <th>Час закінчення бронювання</th>
            <th>Користувач</th>
        </tr>
    </thead>
    <tbody>
{% for item in data %}
        <tr>
            <td>{{ item.id_reservation }}</td>
            <td>{{ item.r_shoes }}</td>
            <td>{{ item.r_color }}</td>
            <td>{{ item.r_model }}</td>
            <td>{{ item.r_size }}</td>
            <td>{{ item.r_count }}</td>
            <td>{{ item.r_start_date }}</td>
            <td>{{ item.r_end_date }}</td>
            <td>{{ item.r_user }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endblock %}