{% extends "layout.html" %}
{% block content %}
        <thead>
            <tr>
                <th>№</th>
                <th>Унікальне ім'я в системі</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Email</th>
                <th>Номер телефону</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
{% for item in data %}
            <tr>
                <td>{{ item.id_user }}</td>
                <td>{{ item.u_username }}</td>
                <td>{{ item.u_name }}</td>
                <td>{{ item.u_surname }}</td>
                <td>{{ item.u_email }}</td>
                <td>{{ item.u_phone }}</td>
                <td>
                    {% if item.u_status == True %}
                        <div class="access-active"><span>Active</span></div>
                    {% else %}
                        <div class="access-non-active"><span>Non active</span></div>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
{% endblock %}